# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin*/
release/
debug/
lib/

#CMAKE
*.cmake
build/
debug/
bin/
lib/
CMakeCache.*
Makefile
CMakeFiles/

#vscode
.vscode/

#vs
.vs/
*.vcxproj*
*.sln

#profiler
*.json

# db files
*.skm
*.qcdb

# generated gtest
_deps